{% extends 'base.html' %}

{% block content %}
{% load static %}



    <!-- Recent-tap -->

    <div class="mt-2">

        <div class="d-flex flex-row justify-content-between">
            <h3 class="orange">Most Recent</h3>
            <i class="gg-push-chevron-down-r m-2 p-2 hide" id="recent-tab-expand"></i>
            <i class="gg-push-chevron-up-r m-2 p-2 hide"  id="recent-tab-collapse"></i>
            
        </div>

        <div class="tab text-center" id="recent-tab">

            <div class="card mt-2 mr-2" style="width: 10rem;">
              <img class="card-img-top" src="{% static 'images/defaultalbum.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Song title</h5>
              </div>
            </div>
            <div class="card mt-2 mr-2" style="width: 10rem;">
              <img class="card-img-top" src="{% static 'images/defaultalbum.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Song title</h5>
              </div>
            </div>
            <div class="card mt-2 mr-2" style="width: 10rem;" >
              <img class="card-img-top" src="{% static 'images/defaultalbum.jpg'%}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Song title</h5>
              </div>
            </div>
        </div>

        <div>
            <a href="" style="float: right; color: #FCA311;">More...</a>
            <br>
        </div>
        <hr>

    </div>

    <!-- Folder-tab -->

    <div class="mt-2">

        <div class="d-flex flex-row justify-content-between">
            
            <h3 class="orange">Albums</h3>
            <i class="gg-push-chevron-down-r m-2 p-2 hide" id="folder-tab-expand"></i>
            <i class="gg-push-chevron-up-r m-2 p-2 hide" id="folder-tab-collapse"></i>

        </div>

        <div class="tab text-center " id="folder-tab">

            <div class="mt-2 mr-2 bg-light center" style="width: 10rem;">
              <div class="">

                <p>Song detail</p>
              </div>
            </div>
            <div class="mt-2 mr-2 bg-light" style="width: 10rem;">
              <div class="">
                <p>Song detail</p>
              </div>
            </div>
            <div class="mt-2 mr-2 bg-light" style="width: 10rem;">
              <div class="">
                <p>Song detail</p>
              </div>
            </div>            
                
        </div>
        <div>
            <a href="" style="float: right; color: #FCA311;">More...</a>
            <br>
        </div>
        <hr>
    </div>

    <!-- Songs-tab -->
    
    <div class="mt-2">
        <div class="d-flex flex-row justify-content-between">
            
            <h3 class="orange">Songs</h3>
            <i class="gg-push-chevron-down-r m-2 p-2 hide" id="song-tab-expand"></i>
            <i class="gg-push-chevron-up-r m-2 p-2 hide" id="song-tab-collapse" ></i>

        </div>

        <div class="tab text-center" id="song-tab">

            <div class="card mt-2 mr-2" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/defaultsong.jpg'%}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Song title</h5>
                </div>
            </div>

            <div class="card mt-2 mr-2" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/defaultsong.jpg'%}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Song title</h5>
                </div>
            </div>

            <div class="card mt-2 mr-2" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/defaultsong.jpg'%}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Song title</h5>
                </div>
            </div>
                
        </div>
        <div>
            <a href="" style="float: right; color: #FCA311;">More...</a>
            <br>
        </div>
        <hr>
    </div>
    
{% endblock %}